body{
    margin: 0;
    padding: 0;
}
/* navigation style */

.qevla-nav{
    background-color: white;
    color: black;
    box-shadow:0px 0px 100px 0px rgb(226 226 226 / 0.5);
    
}


.qeva-menu{
    color: black;
    position: absolute;
    right: 300px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.menu-link {
    color: green;
    padding: 20px;
}
.qevla-banner{
    background: linear-gradient(45deg, rgba(8, 38, 186, 0.7),  rgba(8, 38, 186, 0.5)), url("Towing-service.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: linear-gradient(to right, red , yellow);
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 600px;
    
}
span{
    font-weight: 700;
}
.btn_{
    padding: 12px 10px;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 14px;
    box-shadow: 0px 0px 44px rgb(0 0 0 / 25%);
    margin-left: 70px;
    /* border: none; */

}
.btn1{
    background: white;
    color: #0826BA;
    border: 2px solid white;
}
.btn2{
    background: transparent;
    color: white;
    border: 2px solid white;
}